@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
}
